.container {
    max-width:400px;
}

.input {
    margin-bottom: 8px;
}

.input::placeholder {
    color: var(--text-faint);
}

.testButton {
    white-space: nowrap;
    color: white;
    font-size: 14px;
}
